* {
    margin: 0%;
    padding: 0%;
}
div{
    display: flex;
    justify-content: space-around;
}
p {
    width: 20%;
}
a{
font-size: 200%;
position: relative;
top: 100px;
right:10px;
text-decoration: none;
color: chartreuse;
height: 40px;
}
a:hover {
    color: blueviolet;
    background-color: #8aa805;
    
}